@import './column-1/all';
@import './column-2/all';
@import './heading';

// COLUMN 1 AND COLUMN 2
.content {
    &__columns {
        // display: flex;
        // gap: 20px;
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 14px;
    }
}