@import './column-1/all';
@import './column-2/all';
@import './heading';

// COLUMN 1 AND COLUMN 2
.content {
    padding-bottom: 40px;
    &__columns {
        // 60% for the first column of content and minmax(350px, auto) for the second column of content that conatins the transfer block 
        display: grid;
        grid-template-columns: 60% minmax(350px, auto);
        column-gap: 14px;
    }
}