.button {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    background-color: black;
    padding: 10px;
    padding-left: 16px;
    color: white;
}