.chart {
    background-color: white;
    padding: 20px 0px;
    border: 1px solid #EAEAEA;
    border-radius: 12px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0px 20px;
        h3 {
            font-size: 18px;
        }
    }
    &__top-bar {
        display: flex;
        // gap: 20px;
        list-style: none;
        padding: 5px 10px;
        background-color: $gray_light;
        color: $gray;
        border-radius: 4px;
        li {
            padding: 4px 12px;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
        }
        .active {
            background-color: white;
            color: black;
        }
    }
    &__tooltip {
        background: #303031;
        border-radius: 2px;
        color: white;
        padding: 5px 10px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 5px;
            border-style: solid;
            border-color: #303031 transparent transparent transparent; 
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 12px;
        color: $gray;
        &__income {
            position: relative;
            display: flex;
            align-items: center;
            &::after {
                content: '';
                background-color: $purple;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                left: -10px;
            }
        }
        &__current {
            position: relative;
            display: flex;
            align-items: center;
            &::after {
                content: '';
                background-color: black;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                left: -10px;
            }
        }
    }
}