@import 'scss/variables';

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__body {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__data {
        h4 {
            font-weight: 500;
            font-size: 14px;
        }
        span {
            font-size: 12px;
            color: $gray;
        }
    }
    &__totalSum {
        font-size: 14px;
        color: $red;
    }
    &_incoming {
        color: $green;
    } 
}