
@media screen and (max-width: 1350px) {
    .content {
        &__columns {
            grid-template-columns: minmax(550px, auto);
            row-gap: 14px;
        }
    }
  }

@media screen and (max-width: 1000px) {
    .menu {
        display: none;
        &--open-in-modal {
            display: block;
        }
    
    }

    .header {
        &__avatar {
            span {
                display: inline;
            }
        }
        &__search-input {
            display: none;
        }
        &__logo-big {
            display: block;
        }
        &__col-2 {
            &__loupe {
                display: inline;
                &:hover {
                    // background-color: red;
                    .header__search-input {
                        display: block;
                    }
                    & > svg {
                        display: none;
                    }
                }
            }
        }
  }
}