
@media screen and (max-width: 1350px) {
    .content {
        &__columns {
            grid-template-columns: minmax(300px, auto);
            row-gap: 14px;
        }
    }
  }

@media screen and (max-width: 1000px) {
    .menu {
        display: none;
        &--open-in-modal {
            display: block;
        }
    
    }

    .header {
        &__avatar {
            span {
                display: inline;
            }
        }
        &__search-input {
            display: none;
        }
        &__logo-big {
            display: block;
        }
        &__col-2 {
            &__loupe {
                display: flex;
                align-items: center;
                position: relative;
                &:hover {
                    .header__search-input {
                        display: block;
                        position: absolute;
                        right: 0;
                        z-index: 10;
                    }
                    & > svg {
                        display: none;
                    }
                }
            }
        }
  }
}

@media screen and (max-width: 730px) {
    .card {
        &__content {
            flex-direction: column;
        }
        &__img {
            padding: 0;
            border-right: 0;
        }
    }
}

@media screen and (max-width: 650px) {
    .column-1 {
        &__top {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }
    }
    .heading {
        &__col-1 {
            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .content {
        &__container {
            padding: 0px 20px!important;
        }
    }
    .header {
        &__wrapper {
            // flex-direction: row-reverse;
            justify-content: center;
        }
        &__col-2 {
            flex-direction: row-reverse;
            // width: 100%;
        }
        &__logo-big {
            display: none;
        }
    }

    .heading {
        &__wrapper {
            flex-direction: column;
        }
    }

    .card {
        &__img {
            svg {
                width: 100%;
            }
        }
    }

    .chart {
        &__header {
            justify-content: center;
            h3 {
                display: none;
            }
        }
    }

    @mixin hideHeading {
        &__heading {
          span {
            display: none;
          }
        }
      }
      
      .transactions {
        @include hideHeading;
      }
      
      .transfer {
        @include hideHeading;
      }
}