@import './variables';
@import './menu';
@import './header';
// @import './content/heading';
// @import './content/column-1';
// @import './content/debit-card';
@import './content/all';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

// content
.content {
    background-color: $gray_light;
    width: 100%;
    &__container {
        padding: 0px 64px;
    }
}

// .heading {
//     margin: 35px 0;
// }